Estilos
  generales
  para
  que
  las
  etiquetas
  no
  contengan
  propiedades
  que
  nos
  estorben
  y
  en
  todos
  los
  navegadores
  se
  vean
  correctamente
  */
  * {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
    5 claves a tener en cuenta:
    👉 ¿Es un texto o una caja? 
    👉 ¿Es un 1 etiquetas o muchas?
    👉 ¿Qué position tiene? 
    👉 ¿Uso float o flex? 
    👉 ¿Uso margin, calc() o transform?
*/
/* Estilos por defecto para que se vea "bien" */
.contenedora {
  width: 95%;
  background: lightgray;
  border-radius: 0.5rem;
  margin: 1em auto;
}
.item1 {
  float: left;
  border-radius: 0.5rem;
  width: 50%;
  padding: 10px;
}
#titulo {
  background-color: grey;
  color: black;
  font: 150% Segoe UI;
  font-weight: bold;
}
#año1 {
  background-color: black;
  color: white;
  font: 150% Segoe UI;
  text-align: right;
  font-weight: bold;
}

.item2 {
    float: right;
    border-radius: 0.5rem;
    width: 50%;
    padding: 10px;
}

#genero {
  background-color: grey;
  color: black;
  font: 150% Segoe UI;
  font-weight: bold;
}

#estilo {
  background-color: grey;
  color: black;
  font: 150% Segoe UI;
  font-weight: bold;
}

#año2 {
  background-color: grey;
  color: black;
  font: 150% Segoe UI;
  font-weight: bold;
}

text {
  color: #c90000;
  font: 150% Segoe UI;
  font-weight: bold;
  padding-right: 3%;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: Segoe UI;
}
th {
  background-color: #444343;
  color: white;
}
tr {
  border: black 1px solid;
}
#carouselExampleControls {
  width: 100%;


}
